---
import Header from "@/components/Header.astro";

import Navbar from "@/components/Navbar.astro";
import HomeLayout from "@/layouts/HomeLayout.astro";
---

<HomeLayout>
  <div class="crancy-body-area">
    <!-- crancy Admin Menu -->
    <div class="crancy-smenu" id="CrancyMenu">
      <!-- Admin Menu -->
      <Navbar />
      <!-- End Admin Menu -->
    </div>
    <!-- End crancy Admin Menu -->

    <!-- Start Header -->
    <Header />
    <!-- End Header -->

    <!-- crancy Dashboard -->
    <section class="crancy-adashboard crancy-show">
      <div class="container container__bscreen">
        <div class="row">
          <div class="col-xxl-8 col-12 crancy-main__column">
            <div class="crancy-body">
              <!-- Dashboard Inner -->
              <div class="crancy-dsinner">
                <div class="row">
                  <div class="col-lg-4 col-12 mg-top-30">
                    <!-- Progress Card -->
                    <div class="crancy-ecom-card crancy-ecom-card__v2">
                      <div class="crancy-ecom-card__heading">
                        <div class="crancy-ecom-card__icon">
                          <h4 class="crancy-ecom-card__title">Guide Views</h4>
                        </div>
                        <div class="crancy-progress-card__authors">
                          <div
                            class="crancy-tasksingle__group crancy-tasksingle__group--authors"
                          >
                            <a href="#"
                              ><img
                                src="/img/author-1.png"
                                alt="author-img"
                              /></a
                            >
                            <a href="#"
                              ><img
                                src="/img/author-2.png"
                                alt="author-img"
                              /></a
                            >
                            <a href="#" class="crancy-tasksingle__group--more"
                              ><span>35</span><img
                                src="/img/author-5.png"
                                alt="author-img"
                              /></a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="crancy-ecom-card__content">
                        <div class="crancy-ecom-card__camount">
                          <div class="crancy-ecom-card__camount__inside">
                            <h3 class="crancy-ecom-card__amount">1.240</h3>
                            <span
                              class="crancy-progress-card__percent crancy-color1"
                            >
                              <svg
                                class="crancy-color1__fill"
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                                ></path>
                                <path
                                  opacity="0.4"
                                  d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                                ></path>
                              </svg>
                              75%
                            </span>
                          </div>
                          <p class="crancy-ecom-card__adesc">
                            <span class="crancy-bcolor">Views (7 Days)</span>
                          </p>
                        </div>
                        <div class="crancy-ecom-card__chart">
                          <canvas id="myChart_Net_Income"></canvas>
                        </div>
                      </div>
                    </div>
                    <!-- End Progress Card -->
                  </div>
                  <div class="col-lg-4 col-12 mg-top-30">
                    <!-- Progress Card -->
                    <div class="crancy-ecom-card crancy-ecom-card__v2">
                      <div class="crancy-ecom-card__heading">
                        <div class="crancy-ecom-card__icon">
                          <h4 class="crancy-ecom-card__title">Checklist</h4>
                        </div>
                        <div class="crancy-progress-card__authors">
                          <div
                            class="crancy-tasksingle__group crancy-tasksingle__group--authors"
                          >
                            <a href="#"
                              ><img
                                src="/img/author-1.png"
                                alt="author-img"
                              /></a
                            >
                            <a href="#"
                              ><img
                                src="/img/author-2.png"
                                alt="author-img"
                              /></a
                            >
                            <a href="#" class="crancy-tasksingle__group--more"
                              ><span>35</span><img
                                src="/img/author-5.png"
                                alt="author-img"
                              /></a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="crancy-ecom-card__content">
                        <div class="crancy-ecom-card__camount">
                          <div class="crancy-ecom-card__camount__inside">
                            <h3 class="crancy-ecom-card__amount">1.240</h3>
                            <span
                              class="crancy-progress-card__percent crancy-color1"
                            >
                              <svg
                                class="crancy-color1__fill"
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                                ></path>
                                <path
                                  opacity="0.4"
                                  d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                                ></path>
                              </svg>
                              75%
                            </span>
                          </div>
                          <p class="crancy-ecom-card__adesc">
                            <span class="crancy-bcolor">Views (7 Days)</span>
                          </p>
                        </div>
                        <div class="crancy-ecom-card__chart">
                          <canvas id="myChart_Net_Income2"></canvas>
                        </div>
                      </div>
                    </div>
                    <!-- End Progress Card -->
                  </div>
                  <div class="col-lg-4 col-12 mg-top-30">
                    <!-- Progress Card -->
                    <div class="crancy-ecom-card crancy-ecom-card__v2">
                      <div class="crancy-ecom-card__heading">
                        <div class="crancy-ecom-card__icon">
                          <h4 class="crancy-ecom-card__title">Hostpots</h4>
                        </div>
                        <div class="crancy-progress-card__authors">
                          <div
                            class="crancy-tasksingle__group crancy-tasksingle__group--authors"
                          >
                            <a href="#"
                              ><img
                                src="/img/author-1.png"
                                alt="author-img"
                              /></a
                            >
                            <a href="#"
                              ><img
                                src="/img/author-2.png"
                                alt="author-img"
                              /></a
                            >
                            <a href="#" class="crancy-tasksingle__group--more"
                              ><span>35</span><img
                                src="/img/author-5.png"
                                alt="author-img"
                              /></a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="crancy-ecom-card__content">
                        <div class="crancy-ecom-card__camount">
                          <div class="crancy-ecom-card__camount__inside">
                            <h3 class="crancy-ecom-card__amount">1.240</h3>
                            <span
                              class="crancy-progress-card__percent crancy-color1"
                            >
                              <svg
                                class="crancy-color1__fill"
                                width="20"
                                height="20"
                                viewBox="0 0 20 20"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M15.4308 3.30786L14.4437 3.30786L10.5548 3.30786L9.56762 3.30786C8.2813 3.30786 7.47984 4.70322 8.12798 5.81431L11.0596 10.8399C11.7027 11.9424 13.2957 11.9424 13.9389 10.8399L16.8705 5.81431C17.5186 4.70322 16.7171 3.30786 15.4308 3.30786Z"
                                ></path>
                                <path
                                  opacity="0.4"
                                  d="M4.16878 15.8335L5.15594 15.8335L9.04483 15.8335L10.032 15.8335C11.3183 15.8335 12.1198 14.4381 11.4716 13.327L8.54002 8.30144C7.89689 7.19893 6.30389 7.19892 5.66076 8.30143L2.72915 13.327C2.08101 14.4381 2.88247 15.8335 4.16878 15.8335Z"
                                ></path>
                              </svg>
                              75%
                            </span>
                          </div>
                          <p class="crancy-ecom-card__adesc">
                            <span class="crancy-bcolor">Views (7 Days)</span>
                          </p>
                        </div>
                        <div class="crancy-ecom-card__chart">
                          <canvas id="myChart_Net_Income3"></canvas>
                        </div>
                      </div>
                    </div>
                    <!-- End Progress Card -->
                  </div>
                </div>

                <div class="row crancy-gap-30">
                  <div class="col-12">
                    <!-- Charts One -->
                    <div class="charts-main charts-home-one mg-top-30">
                      <!-- Top Heading -->
                      <div class="charts-main__heading mg-btm-20">
                        <h4 class="charts-main__title">Statitics</h4>
                        <div class="charts-main__middle">
                          <div
                            class="list-group crancy-chart-tabs"
                            id="list-tab"
                            role="tablist"
                          >
                            <a
                              class="list-group-item active"
                              data-bs-toggle="list"
                              href="#crancy-chart__s1"
                              role="tab"
                              ><span class="crancy-chart-tabs__icon"></span>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="13"
                                viewBox="0 0 16 13"
                                fill="none"
                              >
                                <path
                                  d="M13.4316 0.307526L12.4445 0.307526L8.55557 0.307526L7.56841 0.307526C6.28209 0.307526 5.48064 1.70288 6.12878 2.81398L9.06038 7.83959C9.70351 8.94209 11.2965 8.9421 11.9396 7.83959L14.8713 2.81398C15.5194 1.70288 14.7179 0.307526 13.4316 0.307526Z"
                                ></path>
                                <path
                                  opacity="0.4"
                                  d="M2.16918 12.8332L3.15634 12.8332L7.04523 12.8332L8.03239 12.8332C9.31871 12.8332 10.1202 11.4378 9.47202 10.3267L6.54042 5.3011C5.89729 4.19859 4.30429 4.19859 3.66116 5.3011L0.72955 10.3267C0.0814114 11.4378 0.882863 12.8332 2.16918 12.8332Z"
                                ></path>
                              </svg>
                              Income
                            </a>
                            <a
                              class="list-group-item"
                              data-bs-toggle="list"
                              href="#crancy-chart__s1"
                              role="tab"
                              ><span class="crancy-chart-tabs__icon"></span>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="13"
                                viewBox="0 0 16 13"
                                fill="none"
                              >
                                <path
                                  d="M13.4316 0.307526L12.4445 0.307526L8.55557 0.307526L7.56841 0.307526C6.28209 0.307526 5.48064 1.70288 6.12878 2.81398L9.06038 7.83959C9.70351 8.94209 11.2965 8.9421 11.9396 7.83959L14.8713 2.81398C15.5194 1.70288 14.7179 0.307526 13.4316 0.307526Z"
                                ></path>
                                <path
                                  opacity="0.4"
                                  d="M2.16918 12.8332L3.15634 12.8332L7.04523 12.8332L8.03239 12.8332C9.31871 12.8332 10.1202 11.4378 9.47202 10.3267L6.54042 5.3011C5.89729 4.19859 4.30429 4.19859 3.66116 5.3011L0.72955 10.3267C0.0814114 11.4378 0.882863 12.8332 2.16918 12.8332Z"
                                ></path>
                              </svg>
                              Expense
                            </a>
                          </div>
                        </div>
                        <div class="crancy-customer-filter pd-0 m-0">
                          <div class="crancy-customer-filter__single">
                            <a
                              href="#"
                              class="crancy-customer-filter__single--button"
                            >
                              <img src="/img/calendar-icon-2.svg" />April 11 -
                              April 24
                            </a>
                          </div>
                          <div class="crancy-customer-filter__single">
                            <a
                              href="#"
                              class="crancy-customer-filter__single--button"
                            >
                              <img src="/img/download-icon2.svg" />Download
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="charts-main__one">
                        <div class="tab-content" id="nav-tabContent">
                          <div
                            class="tab-pane fade show active"
                            id="crancy-chart__s1"
                            role="tabpanel"
                            aria-labelledby="crancy-chart__s1"
                          >
                            <div
                              class="crancy-chart__inside crancy-chart__three"
                            >
                              <!-- Chart One -->
                              <canvas id="myChart_recent_statics"></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End Charts One -->
                  </div>
                </div>

                <div class="crancy-table crancy-table--v4 mg-top-30">
                  <div class="crancy-table__heading">
                    <h3 class="crancy-table__title mb-0">Recent Marketing</h3>
                    <a class="crancy-table__filter"
                      ><img src="/img/crancy-filter.svg" />Filter</a
                    >
                  </div>

                  <!-- crancy Table -->
                  <table
                    id="crancy-table__main"
                    class="crancy-table__main crancy-table__main-v4"
                  >
                    <!-- crancy Table Head -->
                    <thead class="crancy-table__head">
                      <tr>
                        <th class="crancy-table__column-1 crancy-table__h1">
                          Campaign
                        </th>
                        <th class="crancy-table__column-2 crancy-table__h2">
                          Cost
                        </th>
                        <th class="crancy-table__column-3 crancy-table__h3">
                          Sales
                        </th>
                        <th class="crancy-table__column-4 crancy-table__h4">
                          Sessions
                        </th>
                        <th class="crancy-table__column-5 crancy-table__h5">
                          Impressions
                        </th>
                        <th class="crancy-table__column-6 crancy-table__h5">
                          Status
                        </th>
                      </tr>
                    </thead>
                    <!-- crancy Table Body -->
                    <tbody class="crancy-table__body">
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/facebook-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Facebook Ads
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: April 01, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">$1,240.00</h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">550</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">1,365</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">68,342</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/instagram-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Lite Ads
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: March 28, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">$3,765.00</h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">1,254</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">10,456</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">80,165</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/tiktok-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Tiktok Ads
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: March 25, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">$5,765.00</h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">34,254</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">5,456</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">53,165</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/vuitton-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Tred Vuitton
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: March 20, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">
                            $534,765.00
                          </h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">44,254</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">523,456</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">543,165</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/reddit-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Gillette
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: March 15, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">
                            $534,765.00
                          </h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">44,254</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">523,456</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">543,165</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/pizza-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Gillette
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: March 05, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">$4,765.00</h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">44,254</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">23,456</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">5434,165</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/starbucks-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Starbucks
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: February 25, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">$980.12</h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">3,254</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">23,456</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">5434,165</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/facebook-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Meta Ads
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: February 20, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">$1,240.00</h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">550</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">1,365</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">68,342</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/instagram-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Instagram Ads
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: February 10, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">$3,765.00</h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">1,254</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">10,456</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">80,165</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/tiktok-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Tiktok Ads
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: January 28, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">$5,765.00</h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">34,254</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">5,456</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">53,165</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="crancy-table__column-1 crancy-table__data-1">
                          <div class="crancy-table__campaing">
                            <div class="crancy-table__campaing-icon">
                              <img src="/img/vuitton-icon.svg" alt="#" />
                            </div>
                            <div class="crancy-table__campaing-content">
                              <h4 class="crancy-table__product-title">
                                Louis Vuitton
                              </h4>
                              <p class="crancy-table__product-text">
                                Created: January 20, 2023
                              </p>
                            </div>
                          </div>
                        </td>
                        <td class="crancy-table__column-2 crancy-table__data-2">
                          <h4 class="crancy-table__product-title">
                            $534,765.00
                          </h4>
                        </td>
                        <td class="crancy-table__column-3 crancy-table__data-3">
                          <h4 class="crancy-table__product-title">44,254</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <h4 class="crancy-table__product-title">523,456</h4>
                        </td>
                        <td class="crancy-table__column-5 crancy-table__data-5">
                          <h4 class="crancy-table__product-title">543,165</h4>
                        </td>
                        <td class="crancy-table__column-4 crancy-table__data-4">
                          <div
                            class="crancy-table__status crancy-table__status--active"
                          >
                            Active
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <!-- End crancy Table Body -->
                  </table>
                  <!-- End crancy Table -->
                </div>
              </div>
              <!-- End Dashboard Inner -->
            </div>
          </div>

          <div class="col-xxl-4 col-12 crancy-main__sidebar">
            <div class="crancy-sidebar mg-top-30">
              <div class="row">
                <div class="col-xxl-12 col-xl-6 col-12 crancy-sidebar__widget">
                  <!-- crancy Single Sidebar -->
                  <div class="crancy-sidebar__single">
                    <div class="crancy-spending-overview">
                      <div class="crancy-spending-overview__tabs">
                        <div
                          class="list-group list-group crancy-new-list__tabs"
                          id="list-tab"
                          role="tablist"
                        >
                          <a
                            class="list-group-item"
                            data-bs-toggle="list"
                            href="#crancy-spending-1"
                            role="tab"
                            ><span class="crancy-tsidebar__icon"></span>Week</a
                          >
                          <a
                            class="list-group-item active"
                            data-bs-toggle="list"
                            href="#crancy-spending-1"
                            role="tab"
                            ><span class="crancy-tsidebar__icon"></span>Month</a
                          >
                          <a
                            class="list-group-item"
                            data-bs-toggle="list"
                            href="#crancy-spending-1"
                            role="tab"
                            ><span class="crancy-tsidebar__icon"></span>Year</a
                          >
                        </div>
                      </div>
                      <div class="tab-content" id="nav-tabContent">
                        <div
                          class="tab-pane fade show active"
                          id="crancy-spending-1"
                          role="tabpanel"
                          aria-labelledby="crancy-spending-1"
                        >
                          <div
                            class="crancy-spending-am text-center mg-top-20 mg-btm-20"
                          >
                            <span class="crancy-spending-am__label"
                              >Total Spendings</span
                            >
                            <h3 class="crancy-spending-am__amount">
                              $1,549.00
                            </h3>
                          </div>
                          <div class="crancy-spending-card">
                            <h4 class="crancy-spending-card__title">
                              Overview
                            </h4>
                            <div class="" style="height: 100%; width: 100%">
                              <canvas class="spending_over_view"></canvas>
                            </div>
                            <div class="crancy-spending-card__graph mg-top-30">
                              <img src="/img/spending-overview-play.svg" />
                              <p class="crancy-spending-card__text">
                                Your spending decreased -7.8% from last month.
                                Good job!
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End crancy Single Sidebar -->
                </div>

                <div class="col-xxl-12 col-xl-6 col-12 crancy-sidebar__widget">
                  <!-- crancy Single Sidebar -->
                  <div
                    class="crancy-sidebar__single crancy-sidebar__single--bg"
                  >
                    <div class="crancy-total-view">
                      <!-- Sidebar Heading -->
                      <div
                        class="crancy-sidebar__heading crancy-sidebar__heading--bordered"
                      >
                        <h4 class="crancy-sidebar__title">Performance</h4>
                        <a href="#" class="crancy-sidebar__toggles"
                          ><img src="/img/toggle-icon2.svg" /></a
                        >
                      </div>

                      <div class="crancy-total-view__inner text-center">
                        <div class="crancy-total-view__chart">
                          <div class="count-wrapper">
                            <div style="width: 100%; height: 173px">
                              <canvas class="revenueTarget w-full h-full"
                              ></canvas>
                            </div>
                          </div>
                        </div>
                        <p class="crancy-total-view__text mg-top-15">
                          Your spending decreased -7.8% from last month. Good
                          job!
                        </p>
                        <a href="#" class="crancy-btn mg-top-20">See More</a>
                        <ul
                          class="crancy-progress-list crancy-flex__center crancy-progress-list--v2 crancy-progress-list__inline mg-top-40"
                        >
                          <li>
                            <span class="crancy-progress-list__color"></span>
                            <p>View Count 124</p>
                          </li>
                          <li>
                            <span
                              class="crancy-progress-list__color crancy-color9__bg"
                            ></span>
                            <p>Percantage 56%</p>
                          </li>
                        </ul>
                      </div>

                      <!-- <div class="crancy-chart__inside crancy-chart__total-view">
													<canvas id="myChart_total_view"></canvas>						
												</div> -->
                    </div>
                  </div>
                  <!-- End crancy Single Sidebar -->
                </div>

                <div class="col-xxl-12 col-xl-6 col-12 crancy-sidebar__widget">
                  <!-- crancy Single Sidebar -->
                  <div
                    class="crancy-sidebar__single crancy-sidebar__single--bordered"
                  >
                    <div class="crancy-traffic-list">
                      <div class="crancy-sidebar__heading">
                        <h4 class="crancy-sidebar__title">Top Traffic</h4>
                        <div
                          class="list-group crancy-new-list__tabs crancy-new-list__tabs--v2"
                          id="list-tab"
                          role="tablist"
                        >
                          <a
                            class="list-group-item"
                            data-bs-toggle="list"
                            href="#crancy-traffic-1"
                            role="tab"
                            ><span class="crancy-tsidebar__icon"></span>Month</a
                          >
                          <a
                            class="list-group-item active"
                            data-bs-toggle="list"
                            href="#crancy-traffic-1"
                            role="tab"
                            ><span class="crancy-tsidebar__icon"></span>Week</a
                          >
                        </div>
                      </div>

                      <div class="tab-content" id="nav-tabContent">
                        <div
                          class="tab-pane fade show active"
                          id="crancy-traffic-1"
                          role="tabpanel"
                          aria-labelledby="crancy-traffic-1"
                        >
                          <div class="crancy-traffic-list__list">
                            <!-- Traffic Single -->
                            <div class="crancy-traffic-list__single mg-btm-20">
                              <div class="crancy-traffic-list__icon">
                                <img src="/img/google-logo.png" />
                              </div>
                              <div class="crancy-traffic-list__progress">
                                <div class="crancy-progressbar__label">
                                  <h4 class="crancy-progressbar__title">
                                    Google
                                  </h4>
                                  <div class="crancy-progressbar__percent">
                                    <span>75%</span>
                                  </div>
                                </div>
                                <div
                                  class="progress crancy-progressbar__single"
                                >
                                  <div
                                    class="progress-bar crancy-progressbar__bar crancy-color2__bg"
                                    role="progressbar"
                                    style="width: 95%"
                                    aria-valuenow="95"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  >
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- End Traffic Single -->
                            <!-- Traffic Single -->
                            <div class="crancy-traffic-list__single">
                              <div class="crancy-traffic-list__icon">
                                <img src="/img/facebook-icon.svg" />
                              </div>
                              <div class="crancy-traffic-list__progress">
                                <div class="crancy-progressbar__label">
                                  <h4 class="crancy-progressbar__title">
                                    Facebook
                                  </h4>
                                  <div class="crancy-progressbar__percent">
                                    <span>36%</span>
                                  </div>
                                </div>
                                <div
                                  class="progress crancy-progressbar__single"
                                >
                                  <div
                                    class="progress-bar crancy-progressbar__bar crancy-color1__bg"
                                    role="progressbar"
                                    style="width: 36%"
                                    aria-valuenow="36"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  >
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- End Traffic Single -->
                          </div>
                        </div>
                      </div>

                      <div
                        class="crancy-view-all pd-left-30 pd-right-30 pd-0 mg-top-30"
                      >
                        <a class="crancy-btn crancy-btn__view crancy-full-width"
                          >View All</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End crancy Dashboard -->
  </div>
</HomeLayout>
