---
import EmergencyAlertBarChart from "@/components/dashboard/EmergencyAlertBarChart";
import FirmAdminCircularCharts from "@/components/dashboard/FirmAdminCircularCharts";
import FirmAdminDashboardCards from "@/components/dashboard/FirmAdminDashboardCards";
import SafetyClassesTable from "@/components/dashboard/SafetyClassesTable";
import Header from "@/components/Header.astro";

import Navbar from "@/components/Navbar.astro";
import HomeLayout from "@/layouts/HomeLayout.astro";
---

<HomeLayout>
  <div class="crancy-body-area">
    <!-- crancy Admin Menu -->
    <div class="crancy-smenu" id="CrancyMenu">
      <!-- Admin Menu -->
      <Navbar />
      <!-- End Admin Menu -->
    </div>
    <!-- End crancy Admin Menu -->

    <!-- Start Header -->
    <Header />
    <!-- End Header -->

    <!-- crancy Dashboard -->
    <section class="crancy-adashboard crancy-show">
      <div class="container container__bscreen">
        <div class="row">
          <div class="col-xxl-8 col-12 crancy-main__column">
            <div class="crancy-body">
              <!-- Dashboard Inner -->
              <div class="crancy-dsinner">
                <FirmAdminDashboardCards client:load />
                <div class="row crancy-gap-30">
                  <div class="col-12">
                    <!-- Charts One -->
                    <FirmAdminCircularCharts client:load />
                    <!-- End Charts One -->
                  </div>
                </div>
              </div>
              <!-- End Dashboard Inner -->
            </div>
          </div>

          <div class="col-xxl-4 col-12 crancy-main__sidebar">
            <div class="crancy-sidebar mg-top-30">
              <div class="row">
                <div class="col-xxl-12 col-xl-6 col-12 crancy-sidebar__widget">
                  <!-- crancy Single Sidebar -->
                  <EmergencyAlertBarChart client:load />
                  <!-- End crancy Single Sidebar -->
                </div>

                <div class="col-xxl-12 col-xl-6 col-12 crancy-sidebar__widget">
                  <!-- crancy Single Sidebar -->
                  <SafetyClassesTable client:load />
                  <!-- End crancy Single Sidebar -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End crancy Dashboard -->
  </div>
</HomeLayout>
