---
import Header from "@/components/Header.astro";
import Navbar from "@/components/Navbar.astro";
import HomeLayout from "@/layouts/HomeLayout.astro";
---

<HomeLayout>
  <div class="crancy-body-area">
    <!-- crancy Admin Menu -->
    <div class="crancy-smenu" id="CrancyMenu">
      <!-- Admin Menu -->
      <Navbar />
      <!-- End Admin Menu -->
    </div>
    <!-- End crancy Admin Menu -->

    <!-- Start Header -->
    <Header />
    <!-- End Header -->

    <!-- crancy Dashboard -->

    <!-- End crancy Dashboard -->
  </div>
</HomeLayout>
