---
// src/pages/locations.astro
import HomeLayout from "@/layouts/HomeLayout.astro";

import "../components/management/firm-management.css";
import NavbarSuperAdmin from "@/components/Navbar-SuperAdmin.astro";
import Header from "@/components/Header.astro";
// Forces this page to be server-rendered at runtime.
export const prerender = false;
---

<HomeLayout title="Location Management - Secure Place">
  <div class="crancy-body-area">
    <!-- crancy Admin Menu -->
    <div class="crancy-smenu" id="CrancyMenu">
      <!-- Admin Menu -->
      <NavbarSuperAdmin />
      <!-- End Admin Menu -->
    </div>
    <!-- End crancy Admin Menu -->

    <!-- Start Header -->
    <Header />
    <!-- End Header -->

    <!-- crancy Dashboard -->

    <section class="crancy-adashboard crancy-show">
      <main></main>
    </section>

    <!-- End crancy Dashboard -->
  </div>
</HomeLayout>
